* { box-sizing: border-box; }

p { text-align: center; }

h1, h2 { text-align: center; }

.btn-search { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; width: 30%; margin: 0 auto; }

button, input { min-width: 120px; }

table { width: 50%; margin: 0 auto; border: 1px solid black; padding: 10px; border-collapse: collapse; margin-bottom: 20px; }

table img { width: 100px; border: 1px solid black; }

table th { font-size: 15px; text-align: left; border-bottom: 1px solid black; padding: 5px; }

table tr:nth-child(2) { border-bottom: 1px solid black; }

table td { padding: 5px; border: 1px solid black; font-size: 15px; }

table td:first-child { width: 100px; }

@media screen and (max-width: 1024px) { table { width: 75%; } }

@media screen and (max-width: 765px) { table { width: 90%; } }
